<a href="https://colab.research.google.com/github/vishalpuri07/VISHAL_INFO5731_FALL2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [5]:
print(len('string')) # len() is a built-in function that will calculate the length of a given string.
len('Earth')

6

5


(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [9]:
given_string = 'google.com'

dictionary = {} # create an empty dictionary 

# check if the given letter is in the dicitonary, if value repeats the value for the key is added by 1.
for letter in given_string:
  if letter in dictionary:
    dictionary[letter] = +1
  else:
    dictionary[letter] = 1

# print the results
print(dictionary)

{'g': 1, 'o': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [1]:
my_list = (1,2,3,4,10,20) # of th numbers in the list is 40. Using sum() will give the sume of the lnumbersn in the list.
sum(my_list)

40

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [15]:
given_string = "restart"
def change_first_character(given_string):
  first_character = given_string[0]
  new_string = given_string.replace(first_character,"$") # replace all 1st character with $ sign
  print(first_character + new_string[1:])
change_first_character(given_string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [19]:
# write your answer here
a = float(input ("Enter value of a:"))
b = float(input ("Enter value of b:"))
print ("S = ", (3.14 *( (1+a/b)**3)) )

Enter value of a:6
Enter value of b:3
S =  84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [46]:
# two dictionaries can simply be concatenated using "update"

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

def concatenate_three_dic(dic1,dic2,dic3):
  dic1.update(dic2) # concatenate dic1 with dic2 to form a new dic1
  dic1.update(dic3) # concatenate new dic1 with dic3 to get the final result
  print(dic1)

concatenate_three_dic(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [53]:
my_tuple = ("data","science","Machine","Learning",1,2,3)

# we can perform this using in function/
# Check 1
if "science" in my_tuple:
  print("Yes, the element exist in the tupple")
else:
  print("No, the element does not exist in the tuple")


if "1" in my_tuple: # Checking if the string belongs in the tuple. NO. Number 1 belongs in the tuple
  print("Yes, the element exist in the tupple")
else:
  print("No, the element does not exist in the tuple")


if 1 in my_tuple: 
  print("Yes, the element exist in the tupple")
else:
  print("No, the element does not exist in the tuple")

Yes, the element exist in the tupple
No, the element does not exist in the tuple
Yes, the element exist in the tupple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# Initialize a set using {}

my_set = {1,2,99,121,565,999,9999,10000,50000}

def MinMax(my_set):
  print("Maximum value in the set is: ",max(my_set)) # use max() for maximum
  print("Minimum value in the set is: ",min(my_set)) # use min() for minimum

MinMax(my_set)

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [126]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
student_set = set(student_list) # since student id doesnt repeat convert it to set for easier manipulation

# Group size is pre-decided to prevent from a group having more than 6 members.

list1 = (random.sample((student_set),4))
print("Group 1 = ", list1) 

new_set2 = student_set- set(list1)
list2 = random.sample((new_set2),5)
print("Group 2 = ", list2) 

new_set3 = new_set2 - set(list2)
list3 = random.sample((new_set3),6)
print("Group 3 = ", list3) 

new_set4 = new_set3 - set(list3)
list4 = random.sample((new_set4),5)
print("Group 4 = ", list4) 

new_set5 = new_set4 - set(list4)
list5 = random.sample((new_set5),4)
print("Group 5 = ", list5) 

new_set6 = new_set5 - set(list5)
list6 = list(new_set6)
print("Group 6 = ", list6 )

Group 1 =  ['at0739', 'hc0439', 'nm0547', 'bk0301']
Group 2 =  ['hn0145', 'pk0339', 'pn0159', 'mv0299', 'at0768']
Group 3 =  ['spk0057', 'sg0940', 'rrk0058', 'py0080', 'rak0120', 'yye0005']
Group 4 =  ['mn0426', 'dy0091', 'dd0420', 'snd0097', 'pc0353']
Group 5 =  ['ttp0037', 'rs0850', 'vl0135', 'tv0119']
Group 6 =  ['ss1995', 'ri0094', 'ds0761', 'vmb0067', 'msp0174']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [78]:
my_array1 = [1,3,7,21,81,21,98,55,89,99,55,98] # has repeating values
my_array2 = [1,6,4,8,9,10] # doesnt have repeating values

def repeat_check(check_array):
  repeat_list = [] # initialize empty list that will be filled with repeating values
  for i in range(len(check_array)): # for i ranging across the array length
    for j in range(i+1,len(check_array)): # j ranges i+1
      if check_array[i] == check_array[j] and check_array[i] not in repeat_list:
       # if first condition is matched the integer is repeated
       # if second also match, it is repeating multiple times, safety net only.
        repeat_list.append(check_array[i])
  if len(repeat_list) == 0:
    return -1
  else:
    return(repeat_list)

print(repeat_check(my_array1))
print(repeat_check(my_array2))

[21, 98, 55]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [129]:
# This can be done but a library called Pandas needs to be imported.

import pandas as pd # import pandas.

def select_all_sundays(year): # Select the year you are interested in.
  return pd.date_range(start = str(year) , end = str(year+1), # returns a fixed frequency DatetimeIndex.
                      freq = 'W-SUN').strftime("%m/%d/%Y").tolist() # convert datetime to string and determine the frequency i.e. Sunday.

select_all_sundays(2021)[:52] # for 52 weeks i.e. for the year of 2021.

['01/03/2021',
 '01/10/2021',
 '01/17/2021',
 '01/24/2021',
 '01/31/2021',
 '02/07/2021',
 '02/14/2021',
 '02/21/2021',
 '02/28/2021',
 '03/07/2021',
 '03/14/2021',
 '03/21/2021',
 '03/28/2021',
 '04/04/2021',
 '04/11/2021',
 '04/18/2021',
 '04/25/2021',
 '05/02/2021',
 '05/09/2021',
 '05/16/2021',
 '05/23/2021',
 '05/30/2021',
 '06/06/2021',
 '06/13/2021',
 '06/20/2021',
 '06/27/2021',
 '07/04/2021',
 '07/11/2021',
 '07/18/2021',
 '07/25/2021',
 '08/01/2021',
 '08/08/2021',
 '08/15/2021',
 '08/22/2021',
 '08/29/2021',
 '09/05/2021',
 '09/12/2021',
 '09/19/2021',
 '09/26/2021',
 '10/03/2021',
 '10/10/2021',
 '10/17/2021',
 '10/24/2021',
 '10/31/2021',
 '11/07/2021',
 '11/14/2021',
 '11/21/2021',
 '11/28/2021',
 '12/05/2021',
 '12/12/2021',
 '12/19/2021',
 '12/26/2021']

In [130]:
# Confirmed that the 09/12/2021 i.e. this weekend is indeed a Sunday.