<a href="https://colab.research.google.com/github/vishalpuri07/VISHAL_INFO5731_FALL2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
import random # import random to get random numbers below.
my_list = [*range(1,101)] # creates a list with number 1 to 100.
twelve = random.sample(my_list, 12) # randomly selects 12 numbers from the list.

# Sort the twelve random numbers in ascending order
twelve_asce = sorted(twelve)
print("Sorted List in ascending: ", twelve_asce)

# Sort the same twelve numbers in descending order
twelve_desc = sorted(twelve,reverse = True)
print("Sorted List in descending: ",twelve_desc)

# Average = sum of all elements / total number of elements
print("Average of list: ", round((sum(twelve)/ len(twelve)),2))

Sorted List in ascending:  [1, 10, 23, 24, 35, 48, 71, 73, 79, 84, 88, 90]
Sorted List in descending:  [90, 88, 84, 79, 73, 71, 48, 35, 24, 23, 10, 1]
Average of list:  52.17

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Part 1. Ask user to enter two sentences:
first = input("Enter a sentence:") # I got 92% in my last Math test and 78% in Science. What did you get?
second = input("Enter another sentence:") # Wow! My test score: 85% in Math, 62% in Science and 78% in English. What did you get in English?

Enter a sentence:I got 92% in my last Math test and 78% in Science. What did you get?
Enter another sentence:# Wow! My test score: 85% in Math, 62% in Science and 78% in English. What did you get in English?

In [3]:
# Part 2. re is a short form for Regular Expression Operations. This is used to specify what one is looking in the strings.

import re
# Write a function to split strings but include all the special character at this step. 

def split_sentence(sentence):
  splitted = re.split(r"(\W)",sentence) # "\W" expression to match any characters that are not a word character
# Since it matches "Not a word character - all spaces and empty element in the list must be removed"
  splitted_new = [a for a in splitted if a != ' ' and a != '']
  return (splitted_new)

In [4]:
# use the function above to print the list for both sentences.
first_list = split_sentence(first)
print("First List: ",first_list)
second_list = split_sentence(second)
print("Second List: ",second_list)

First List:  ['I', 'got', '92', '%', 'in', 'my', 'last', 'Math', 'test', 'and', '78', '%', 'in', 'Science', '.', 'What', 'did', 'you', 'get', '?']
Second List:  ['#', 'Wow', '!', 'My', 'test', 'score', ':', '85', '%', 'in', 'Math', ',', '62', '%', 'in', 'Science', 'and', '78', '%', 'in', 'English', '.', 'What', 'did', 'you', 'get', 'in', 'English', '?']

In [5]:
# Part 3. Compare the two sentences. Print out a list of words that occur in both sentences.

common_list = [] # initialize a empty list to store the common values plus filter the punctuations.
filter_list = ['%','?','.',',',':',';','!'] # remove these punctuations from the results that compares the words
# use nested For Loop to compare two list.
for element in first_list:
  for item in second_list:
    if element in second_list and element not in common_list and element not in filter_list: # ensure that the common itmes are not repeated and punctuations are filtered.
      common_list.append(element) # add common itme to the common_list we initialized above.
    else:
      0 == 0 # 0 == 0 means it is always true and therefore, does nothing and simply takes to the start of for loop again.

print(common_list)

['in', 'Math', 'test', 'and', '78', 'Science', 'What', 'did', 'you', 'get']

In [6]:
# Part 4. Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)
remove_items = ['%','?','.',',',':',';','!'] # these are the list of the items that we want to remove from the list.
def remove_special_char(your_list): 
  for i in remove_items: # compare the item in the remove list to the list you want and removve those items if in your list.
    if i in your_list:
      your_list.remove(i)
    else:
      0 == 0
  return your_list # 0 == 0 means it is always true and therefore, does nothing and simply takes to the start of for loop again.

first_list_trimmed = remove_special_char(first_list) # Run the first list to remove the special characters
print("First List after removing special characters: ",*first_list_trimmed) # using * unpacks all the items in the list
second_list_trimmed = remove_special_char(second_list) # Run the second list to remove the special characters
print("Second List after removing special characters: ",*second_list_trimmed) # using * unpacks all the items in the list

First List after removing special characters:  I got 92 in my last Math test and 78 % in Science What did you get
Second List after removing special characters:  # Wow My test score 85 in Math 62 % in Science and 78 % in English What did you get in English

In [7]:
# Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

vowels = "aeiou" # alphabets of vowels, lowercase is good enough because all upper case will be converted to lower case
count = {} # Initialize an empty dictionary which will filled such that keys are vowels and values are the count of the vowels.
def count_vowels(your_string):
  lower_string = your_string.lower() # convert all string to lowercase.
  for vowel in vowels:
    count[vowel] = your_string.count(vowel) # key => vowel, value => number of repetition
  return count # print the dictionay

print("Vowle Count on First Sentence: ",count_vowels(first)) # pass first sentence to the function
print("Vowel Count on Second Sentence: ", count_vowels(second)) # pass second sentence to the function

Vowle Count on First Sentence:  {'a': 4, 'e': 4, 'i': 4, 'o': 2, 'u': 1}
Vowel Count on Second Sentence:  {'a': 3, 'e': 5, 'i': 8, 'o': 3, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [8]:
print("r       V") # This will print the template fro radius and Volume
for r in range(1,11): # ranges from 1 inclusive to 11 non-inclusive
  V = round(4/3 * 3.141 * (r**3), 3) # for exact value of pi - can be imported from "math" module as math.pi
  print(r,"  ",V) # print all values of radius and Volume in given pattern.

r       V
1    4.188
2    33.504
3    113.076
4    268.032
5    523.5
6    904.608
7    1436.484
8    2144.256
9    3053.052
10    4188.0

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [9]:
from google.colab import files # upload the file in google colab so that it can be read.
uploaded = files.upload()

Saving INFO5731_Assignment_One.ipynb to INFO5731_Assignment_One.ipynb

In [10]:
import pandas as pd # import pandas library to read the csv as dataframe. data frame aloows to perform data manupulation with ease.
data = pd.read_csv("Assignment1_denton_housing.csv")
data

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [11]:
# to make it easy create a pivot table
data = data.pivot( index = 'year',columns = 'title_field', values = 'value')
data

title_field  Median Gross Rent  ...  Vacant Housing Units
year                            ...
2008                       768  ...                  4483
2009                       769  ...                  3583
2010                       780  ...                  3635
2011                       821  ...                  4213
2012                       842  ...                  3013
2013                       887  ...                  4215
2014                       905  ...                  2814

[7 rows x 6 columns]

In [12]:
# Since the above line of code changes the index,
data= data.reset_index()
data

title_field  year  Median Gross Rent  ...  Total Housing Units  Vacant Housing Units
0            2008                768  ...                41194                  4483
1            2009                769  ...                39499                  3583
2            2010                780  ...                44642                  3635
3            2011                821  ...                44917                  4213
4            2012                842  ...                45121                  3013
5            2013                887  ...                47888                  4215
6            2014                905  ...                49109                  2814

[7 rows x 7 columns]

Part 1. (1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be 
calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [13]:
consecutive_difference_df = pd.DataFrame() # create an empty data frame that will have two columns with year range and difference later.

# Create range of years and put it in the dataframe as a column
consecutive_difference_df["Years"] = pd.Series([f'{i} - {i+1}' for i in range(2008,2014)]) # makes a list of years from 2008-2009, 2009-21010 and so on.

# Get the absolute of difference for Occupied Housing Units for each year and drop Nan that will occur at first and end and thence reset the index.
consecutive_difference = abs(data["Occupied Housing Units"].diff()).dropna().reset_index(drop = True)                                                                  
consecutive_difference_df["Difference"] = consecutive_difference # set it as second column of the dataframe 


# Print the dataframe for results but in ascending order. Use df.sort_values()
consecutive_difference_df.sort_values(by = ["Difference"], ascending=True )

         Years  Difference
2  2010 - 2011       303.0
0  2008 - 2009       795.0
3  2011 - 2012      1404.0
4  2012 - 2013      1565.0
5  2013 - 2014      2622.0
1  2009 - 2010      5091.0

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----

In [14]:
# Create an empty data frame that will be show the results.

# Start with the required years. Can also be obtained from the dataset.
Status = pd.DataFrame()
Status["Years"] = range(2008,2015)

# Calculate Percentage for Occupied Units. Formula => % Occupied = Occupied Units * 100 / Total Housing Units %
# Round the answer to 2 floating decimals and change data type to string so that % sign can be added at the end.
Status["Occupied"] = (data["Occupied Housing Units"] / data["Total Housing Units"] * 100).round(2).astype(str) + "%"

# Calculate Percentage for Vacant Units. Formula => % Vacant = Vacant Units * 100 / Total Housing Units %
# Round the answer to 2 floating decimals and change data type to string so that % sign can be added at the end.
Status["Vacant"] = (data["Vacant Housing Units"] / data["Total Housing Units"] * 100).round(2).astype(str) + "%"

Status

   Years Occupied  Vacant
0   2008   89.12%  10.88%
1   2009   90.93%   9.07%
2   2010   91.86%   8.14%
3   2011   90.62%   9.38%
4   2012   93.32%   6.68%
5   2013    91.2%    8.8%
6   2014   94.27%   5.73%

(3) (10 pts) Calculate and print the values and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

In [15]:
minmax_df = pd.DataFrame()

# Start filling 1st column that has vacant and occupied housing units.
minmax_df["Maximum number of:"] = ["Vacant Housing Units", "Occupied Housing Units"]

# Find the index for maximum value of Vacant and Occupied Houisng using argmax() and extract its Year.
minmax_df["Year"] = [data.at[data["Vacant Housing Units"].argmax(), "year"], data.at[data['Occupied Housing Units'].argmax(), "year"]]

# Find the actual maximum value in the each column uisng .max()
minmax_df["Value"] = [data["Vacant Housing Units"].max(), data['Occupied Housing Units'].max()]

minmax_df

       Maximum number of:  Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [36]:
# Harmonic Mean = number of observation / (sum of reciprocals of all observation)

# Sum of reciprocals for each data in Total housing units is given by:
sum_of_reciprocals =  (1 / data["Total Housing Units"]).sum()

# Total number of observation is total number of records because there is no row with all empty values.
harmonic_mean = len(data) / sum_of_reciprocals
harmonic_mean

44398.28543969185